@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@plugin 'tailwind-scrollbar';
@plugin "@iconify/tailwind4";
@plugin "daisyui" {
    themes: light --default;
}

@theme {
  --color-mmgreen: oklch(0.6851 0.2081 143.04);
  --color-mmblue: oklch(0.5461 0.2152 262.88);
  --color-mmblack: oklch(0.2931 0 0);
}
